@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="row p-5">
		<div class="text-center">
			<h3 class="text-danger mb-4">Unexpected Error</h3>
			<p class="mb-4">Something went wrong! We are working on it.</p>
			<h5>Go back to <a asp-controller="Home" asp-action="Index" class="link-warning custominputlink">Home</a> Page</h5>
		</div>
	</div>
</div>
