@{
	ViewData["Title"] = "Error";
}

<div class="row">
	<div class="row p-5">
		<div class="text-center">
			<h3 class="text-danger mb-4">Bad Request</h3>
			<p class="mb-4">Oops, looks like you are trying to do something you are not supposed to!</p>
			<h5>Go back to <a asp-controller="Home" asp-action="Index" class="link-warning custominputlink">Home</a> Page</h5>
		</div>
	</div>
</div>
