@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Leaderboard app.</p>
    <p>If you want to see a leaderboard for already existing contest you must take a link from the contest organizer.</p>
    <p> If you want to create contest yourself you can start by registering yourself.</p>
</div>
